.navbar-custom {
    height: 100px;
  }

.job-logo {
    height: 100px;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
  
.logout-nav {
    width: 100%;
    height: 100%;
}

.form-group {
    padding: 5px 0px;
}

.application-container {
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 1px 1px 3px lightgrey;
}

.job-title {
    font-size: 2em;
    font-weight: 600;
}

.employer-name {
    font-size: 1.2em;
    color: darkslategrey;
    font-weight: 200;
}

.notes-textarea {
    width: 100%;
    resize: none;
}

.inner-bdr {
    border-color: lightgrey;
    border-radius: 5px;
    overflow: hidden;
  }

.current-status {
    font-weight: 350!important;
}

.status-final {
    font-weight: 500!important;
}

.status-App {
    background-color: lightblue;
}

.status-Int {
    background-color: rgb(255, 238, 110);
}

.status-Suc {
    background-color: lightgreen;
}

.status-Uns {
    background-color: indianred;
}

.edit-mode {
    background-color: rgb(245, 245, 245)
}

.inner-title {
    font-size: 1.2em;
    font-weight: 500;
}

.icon-button {
    height: 1.2em;
    cursor: pointer;
}

.big-icon-button {
    height: 2.4em;
    cursor: pointer;
}

.big-add-button-container {
    width: 100%;
    text-align: right;
}

.edit-input-text {
    border-radius: 5px;
    border-width: 0px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
}

.int-input {
    width: 100%;
}

.status-select {
    width: 9em;
    
}

option {
    padding: 0px;
    color: inherit;
    font-weight: inherit;
}

input:disabled {
    color: inherit;
}

input:disabled {
    cursor: default;
    background-color: inherit;
    color: inherit;
    border-color: inherit;
    border-width: 0px;
}

table input {
    padding: 2px;
    border-radius: 5px;
    border-width: 0px;
    background-color: inherit;
}

table tr[class="edit"] > * {
    background-color: rgb(245, 245, 245)
}

textarea:disabled {
    background-color: white;
    color: inherit;
}

.buttons {
    display: inline-block;
}

td > .buttons {
    display: flex;
}

.buttons > * {
    margin: 2px;
}